body {
    margin: 0;
    padding: 0;
    background-color: rgb(156, 179, 202);
}

/* HEADER */
.topoPagina {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 10px 20px;
}

/* LOGO */
.logoPagina {
    height: 150px;
    width: auto;
}

/* INPUT */
.texto {
    flex: 1;
    min-width: 200px;
    max-width: 500px;

    height: 40px;
    margin-left: 20px;

    border-radius: 10px;
    border: none;
    padding: 0 15px;
    text-align: center;
}

@media (max-width: 600px) {
    .topoPagina {
        flex-direction: column;
        align-items: center;
    }

    .logoPagina {
        height: 100px;
        margin-bottom: 10px;
    }

    .texto {
        width: 100%;
        margin-left: 0;
        padding: 5px;
    }
}


/* TEXTO GERAL */
p {
    font-size: 17px;
}

/* Foto do Autor */
.fotoAutor {
    width: 100%;
    max-width: 520px;
    height: auto;
    border-radius: 15px;
}

/* Texto do Autor */
.textoAutor {
    background-color: #0d0d0d;
    color: #f1f1f1;
    padding: 25px;
    border-radius: 15px;
    margin: 2px;
    text-decoration: none;
    text-align: justify;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin-top: 40px;
}

.row {
    align-items: center;
}

.card {
    height: 100%;
}

.card-img-top {
    height: 500px; 
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
}

/* FOOTER */
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 20px;
}